<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <data>

        <record id="contact_solapin_action" model="ir.actions.act_window">
            <field name="name">Trabajadores</field>
            <field name="res_model">res.partner</field>
            <field name="view_mode">kanban,tree,form</field>
            <field name="domain">[('area_base_id.user_id', '=', uid)]</field>
            <!-- <field name="domain">[('area_base_id.user_ids', 'like', uid)]</field> -->
            <field name="context"></field>                
        </record>
    
        <menuitem
            id="solapin_menu"
            name="Datos Solapin"
            sequence="10"/>    

        <menuitem
            id="contact_solapin_menu"
            name="Trabajadores"
            action="solapin.contact_solapin_action"
            parent="solapin.solapin_menu"
            sequence="1"/>
    
    </data>
    

</odoo>
